#Projects {
  height: 100%;
  width: 100%;
}

/* .Project-heading {
  padding: 20px 20px 0 20px;
} */

.Project-heading h1 {

  /* height: 11vh;
  width: 95vw; */
  
  font-size: 5rem;
  font-weight: 50;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  
  border-radius: 8px;
  text-align: center;
  /* padding-top: 15px; */
  align-items: center;
  justify-content: center;
  margin: 0;
}

.Cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;


}

.card-container {
  margin: 1.2em;
  height: 420px;
  width: 450px;
  display: flex;
  flex-direction: column;
  /* border:2px solid red; */
  box-shadow: 0 0.18em 1.550em rgb(170, 190, 192);
  border-radius: 2em;
  overflow: hidden;

  /* backdrop-filter: saturate(180%) blur(10px); */
}

.Project-title {
  width: 100%;
  height: 10vw;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  border-radius: 0 0 2em 2em;
  border-top: none;
  /* border-bottom: 2em; */
}

.Project-title h1 {
  color: #188a8d;
  text-align: center;
  justify-content: center;
}

.Project-title button {
  height: 40px;
  /* width: ; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #188a8d;
  border: 1px solid #188a8d;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#learn-more {
  width: 30%;

}

.Project-title button:hover {
  background-color:  #188a8d;
  color: #fff;
  /* color: rgb(252, 71, 101); */
  font-weight: 700;
  /* border: 20px solid black; */
}

.project-slider-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  /* overflow-y:auto; */
}

.project-slider {
  width: 60%;
  /* height: 100vh; */
  height: 80%;
  background-color: #fff;
  overflow-y: auto;

}

.swiper {
  width: 100%;
  height: 80%;
  /* background-color: #FF9800; */
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {

  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;

  /* Center slide text vertically */


}

.swiper-slide img {
  display: block;
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.Slider_box {
  top: 0;
  left: 0;
  width: 100%;
  /* border: 5px solid red; */


}

/* .main-project{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  
  } */

.Card {
  overflow: hidden;
  position: relative;
  object-fit: cover;
}

.Project_img {
  /* background-size: cover; */
  height: 300px;
  width: 400px;
  overflow: hidden;
  border-radius: 2em 2em 0 0;
}

/* .Project_img:hover{
    background-color: #be9a64;

  }  */


.Card::after {
  height: 0;
  content: "";
  /* Create a pseudo-element to act as the overlay */
  position: absolute;
  /* top: 0; */
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  /* Initial color (transparent black) */
  /* Smooth transition */


}

/* .Project_img_titl{
    height: 0;
  } */
.Card:hover::after {
  height: 100%;
  background: rgba(56, 56, 56, 0.6);
  /* Color on hover (semi-transparent black) */
  transition: height 0.5s ease, background 0.3s ease;
  border-radius: 2em 2em 0 0;
  text-align: center;

}

/* .Card:hover .Project_img_title{
    transition:  0.20s ease;
    display: block;
  } */


.Project_img_title {
  position: absolute;
  /* top: 10px;
    left:50px; */
  overflow-wrap: break-word;
  /* align-items: center; */
  color: white;
  font-size: 3em;
  /* display: none; */
  z-index: 1;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  /* Initially invisible */
  transition: opacity 0.3s ease;
  /* display: flex; */
  /* text-align: center; */
  /* justify-content: center; */

}

.Card .Project_img_title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f9eefc;
  opacity: 0;
  /* Initially invisible */
  transition: opacity 0.3s ease;
  /* Smooth transition for text opacity */
}

.Card:hover .Project_img_title {
  opacity: 1;
  /* Make text visible on hover */
}

.down-element {
  /* transform: translateY(-200px); */
  opacity: 0;
}

.right-element {
  transform: translateX(200px);
  opacity: 0;
}

.i-am-visible {
  transform: translateX(0px);
  opacity: 1;
  transition: 2s;
}

.Project_details {
  background-color: rgb(252, 252, 252);
  width: 100%;
  margin-left: 0.4em;


}

table {
  width: 100%;
}

.Project_details tr td {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 2px solid rgb(209, 207, 207);
  line-height: 1.5em;
}

.Project_details th {
  font-size: 1rem;
  line-height: 1.5em;
  display: flex;
  justify-content: flex-start;
  

}

.Project_details td {
  color: rgb(140, 141, 142);
  padding-bottom: 2em;
}

.Project_details a {
  color: rgb(44, 167, 233);
}
.Project_details ul{
  padding-left: 20px;
}

/* .Cards:nth-child(1){
  height: 450px;
  width: 10%;
  
} */
.main_project_container {
  display: flex;
  height: 450px;
  width: 400px;
}

#Project_img_slider {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* border: 5px solid  green; */
}
.fa-multiply{
  display: none;
}

@media screen and (max-width: 767px) {
  .Project-heading h1 {
    font-size: 3em;
    
    text-align: center;

    height: 100%;
    width: 100%;
  }

  .card-container {
    height: 450px;
    width: 350px;

  }

  .project-slider {
    width: 70%;
    height: 60%;
  }

  .Project_img_slider {
    height: 30%;
    width: 20%;

  }
  .Project-title{
    width: 100%;
    height: 11em;

  }
  .Project_img_title{
    z-index: 1;
  }

  /* .Project_img{
    height: 300px;
    width: 200px;
  } */
}

.Close {
  height: 2em;
  width: 100%;
  background-color: aliceblue;
  cursor: pointer;
  color: rgb(28, 145, 247);
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: 900;
}