.container {
  width: 100%;
  height: 100vh;
  /* background-color: #fff; */
  /* border: 2px solid rgb(240, 158, 42); */
  background-color: #ebe1eb;
  background-image: linear-gradient(0deg, #fdedfd 0%, #d4f5f5 100%);

  /* background-image: radial-gradient( circle 1224px at 10.6% 8.8%,  rgba(255,255,255,1) 0%, rgb(186, 213, 241) 100.2% ); */
 background-repeat: no-repeat;  
 overflow-x: hidden;
 /* background-attachment: fixed; */


}

html {
  scroll-behavior: smooth;
}

.Home_container {
  /* display: flex; */
  height: 50%;
  width: 70%;
}

.main_class {
  display: flex;
  flex-direction: row;
}

.greeting_name h1 {
  font-size: 5.6rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 350;
  margin: 0;
  line-height: 110px;
  display: block;
  padding: 7.5rem 7.5rem 0rem 7.5rem;
}

.typingeffect {
  height: 15vh;
  width: 100%;
  position: absolute;
}

.typingeffect .typo {

  margin-top: 10px;
  font-size: 25px;
  font-weight: 400;
  margin-left: 150px;
}

.contact-icons {
  width: 20%;
  margin: 90px;
  display: flex;
  font-size: 50px;
  align-items: center;
  justify-content: space-between;
}

.contact-icons a:nth-child(1) {
  color: rgb(10, 102, 194)
}

.contact-icons a:nth-child(2){
  color: black;

}
.contact-icons i:nth-child(3){
  margin-top: 0.1em;

}

.left-element {
  transform: translateX(-200px);
  opacity: 0;
}
.right-element {
  transform: translateX(200px);
  opacity: 0;
}
.i-am-visible {
  transform: translateX(0px);
  opacity: 1;
  transition: 2s;
}

@media screen and (max-width: 767px){
  .greeting_name h1{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 50px;
    padding: 1em 1.5em 0em 1.5em;
  }
  .typingeffect .typo {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 2.4em;
  }
  .contact-icons{
    gap: 0.2em;
  }
  .main_class {
    display: flex;
    flex-direction: column;
  }
  

}